*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
}

:root {
  --light-slate: #f1f5f9;
  --dark-slate: #e2e8f0;
  --grid-buttons: repeat(3, minmax(5rem, 9vw));
  --buttons-content: clamp(4rem, 8vw, 8rem);
  --gaps: clamp(0.5rem, 0.5rem + 1vw, 1rem);
  --mark-playerTwo: #0284c7;
  --mark-playerOne: #b91c1c;
}

html {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

body {
  background-color: white;
  flex-grow: 1;
  display: grid;
  place-items: center;
}

.wrapper {
  display: grid;
  place-items: center;
  gap: calc(var(--gaps) * 2);
}

.wrapper > .container {
  display: grid;
  grid-template-columns: var(--grid-buttons);
  grid-template-rows: var(--grid-buttons);
  gap: var(--gaps);
}

.wrapper > .container > .ttt-button {
  background-color: var(--light-slate);
  font-size: var(--buttons-content);
}

.wrapper > .container > .ttt-button:hover {
  background-color: var(--dark-slate);
}

.wrapper > .container > .ttt-button:active {
  scale: 0.95;
}

.wrapper > #restartGame {
  background-color: white;
  font-size: calc(var(--buttons-content) / 2);
  color: var(--mark-playerTwo);
  padding: 0.75rem;
}

.wrapper > #restartGame:hover {
  background-color: var(--light-slate);
}
.wrapper > #restartGame:active {
  scale: 0.95;
}

#ann-win {
  position: absolute;
}

.announceWinner {
  backdrop-filter: blur(1rem);
  -webkit-backdrop-filter: blur(1rem);
  color: var(--mark-playerTwo);
  font-size: calc(var(--buttons-content) * 0.6);
  text-align: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: grid;
  place-items: center;
}
